{{ partial "header.html" . }}

<!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="main">
    <div class="container">
        <div class="article-header">
            <h1>{{ .Title }}</h1>
            <div class="meta-data">
                {{ .Date.Format "Jan 2, 2006" }} &nbsp; {{ range .Params.tags }} <span class="article-tag"><a href="/tags/{{ . | urlize }}">#{{ . }}</a></span>&nbsp; {{ end }}
            </div>
        </div>
        <aside>
            {{ .TableOfContents }}
        </aside>
        <article>

            {{ .Content }}

        </article>
        <nav class="pagination-single">
            {{ if .PrevPage }}
            <span class="previous">&larr; <a href="{{ .PrevPage.Permalink }}" rel="prev">{{ .PrevPage.Title }}</a></span> {{ end }} {{ if .NextPage }}
            <span class="next"><a href="{{ .NextPage.Permalink }}" rel="next">{{ .NextPage.Title }}</a> &rarr;</span> {{ end }}

        </nav>

        <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>

</div>

{{ partial "footer.html" . }}