{{ partial "header.html" . }}
<!-- Main -->
<div id="container">

    <!-- About Me -->
    {{range where .Site.Params.nav "id" "==" "about"}}
    <section id="about">
        <div class="container">
            <header>
                <h1>{{ .title }}</h1>
            </header>

            <div class="index-content">
                <img src="/img/about.jpg" alt="picture of me" height="100">
                <p>{{.content}}</p>
                {{ range $.Site.Params.social }}
                <a href="{{ .link }}" target="_blank"><i class="fa fa-3x fa-{{ .icon }}" aria-hidden="true"></i></a>
                {{ end }}
            </div>
        </div>
    </section>
    {{end}}
    <!-- Articles -->
    {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.visibleContents )}}
    {{range where .Site.Params.nav "id" "==" "articles"}}
    <section id="articles">
        <div class="container">
            <header>
                <h1> {{.title}}</h1>
            </header>
            <div class="mdc-grid-list mdc-grid-list--tile-gutter-1 index-content">
                <ul class="mdc-grid-list__tiles">
                    {{ range $.Site.Params.topics }}
                    <li class="mdc-grid-tile">
                        <a href="{{ .url | relLangURL }}">
                            <div class="mdc-grid-tile__primary">
                                <img class="mdc-grid-tile__primary-content" src="{{ .pic }}" alt="{{ .alt }}" />
                            </div>
                            <span class="mdc-grid-tile__secondary">
                                <span class="mdc-grid-tile__title">{{ .topic }}</span>
                            </span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <header>
                <h2>{{.recent}}</h2>
            </header>
            {{ range $paginator.Pages }}
            <div class="mdc-elevation--z1 mdc-ripple-surface mdc-list index-content">
                <a class="mdc-list-item" href="{{ .Permalink }}">{{ .Title }}</a>
                <sub>({{ .Date.Format "Jan 2, 2006" }})</sub>
            </div>
            {{ end }}
        </div>
    </section>
    {{end}}

    <!-- Contact -->
    {{range where .Site.Params.nav "id" "==" "contact"}}
    <section id="contact">
        <div class="container">
            <header>
                <h1>Contact</h1>
            </header>
            <div class="index-content">
                {{with .email}} {{.}} {{end}}
                {{with .twitter}}
                    <a href="https://twitter.com/intent/tweet?screen_name={{.}}" class="twitter-mention-button" data-related="{{.}}">Tweet to @{{.}}</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                {{end}}
            </div>
        </div>
    </section>
    {{end}}
</div>
{{ partial "footer.html" . }}
